##########################################################
#                                                        #
#    CONFIG FILE FOR ANVIO ANALYSIS AND VISUALISATION    #
#                                                        #
##########################################################

# Wokring Directory......................................#

WORKDIR="/mnt/scratch/c2006576/cacnes21032025/bacterial_workflow"

# SLURM Resources........................................#

# Container Directory....................................#

# Outside the Container
CACHEDIR="/mnt/scratch/${USER}/singularity/cache"
IMAGEDIR="/mnt/scratch/${USER}/singularity/cache"
TMPDIR="/mnt/scratch/$USER/anvio8/tmp"

# Inside the Container
CONTAINERDIR="/mnt/container"
CONTAINERTMP="/tmp"

# ANVIO..................................................#

IMAGENAME="meren/anvio:8" 
SINGULARITY_IMG="/mnt/scratch/$USER/singularity/cache/meren_anvio.sif"

# Use Inside the Container Variables
ANVIODIR="${CONTAINERDIR}/output/anvio"
ANVIOGENOMES="${CONTAINERDIR}/output/genomes/TestGenomes"
ANVIODB="${ANVIODIR}/databases"
METADATA="${CONTAINERDIR}/metadata.tsv"

# Customisations

DBNAME="PANGENOME_ANALYSIS"
